<body>
<div class="body_wrap">
<div class="middle middle_white cols2">
  <div class="container">

    <div class="content">

      <article class="post-detail">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
        <br/>

        <div class="middle middle_dark">

          <div class="mapareacontainer">
            <div id="map-loc" class="map"></div>
          </div>

        </div>
        <br/>


          <!--/ contact form -->


      </article>

    </div>
    <!--/ content -->

    <!-- sidebar -->
    <div class="sidebar">

      <!-- widget contact info -->
      <div class="widget-container widget_contact">
        <h3 class="widget-title">Our Address:</h3>

        <address>
          <strong>Vietnam Beauty Spot Jsc.</strong><br>
          31 Hang Dieu St., Hoan Kiem Dist.,<br>
          Ha Noi, Vietnam<br>
        </address>

        <div class="contact_info">
          <h3>Contact Information:</h3>

          <div class="info_row"><span class="info_icon info_phone"></span> +1 (456) 345-1232</div>
          <div class="info_row"><span class="info_icon info_fax"></span>  +1 (456) 334-2345</div>
          <div class="info_row"><span class="info_icon info_mail"></span> <a href="#">vn.vbs@gmail.com</a></div>
          <div class="info_row"><span class="info_icon info_fb"></span> <a href="#">Facebook.com/vbs</a></div>
          <div class="info_row"><span class="info_icon info_tw"></span> <a href="#">Twitter.com/vbs</a></div>

        </div>

      </div>
      <!--/ widget contact info -->


    </div>
    <!--/ sidebar -->

  </div>
</div>
<!--/ middle -->

</div>


<!------------------- page JS -->
<!-- map -->
<script>
    $(window).load(function(){
        "use strict";
        $("#map-loc").gMap({
            markers: [{
                latitude: 21.0337179,
                longitude: 105.8474886}],
            zoom: 10,
            html: '31 Hang Dieu street, Hoan Kiem district, Ha Noi, Viet Nam',
            title: "Hanoi Rendezvous Hotel",
            popup: false,
            scrollwheel: false
        });
    });
</script>

</body>
</html>
