<body>
<div class="body_wrap">
<div class="middle middle_white cols2">
  <div class="container">

    <div class="content">

      <article class="post-detail">
        <h1>About us</h1>
        <p>Welcome to Vietnam!</p>
        <p>We are dedicated to giving you stories associated with famous Vietnam tourist attractions. Through these stories, visitors are provided with useful information about specific destination such as where to go, what the weather is, what to eat and how much it costs. </p>
        <p>We hope that you will enjoy the places that we introduced to you. If you have any questions or comments, please don’t hesitate to contact us.</p>
        <br/>

        <div class="middle middle_dark">

          <div class="mapareacontainer">
            <div id="map-loc" class="map"></div>
          </div>

        </div>
        <br/>


          <!--/ contact form -->


      </article>

    </div>
    <!--/ content -->

    <!-- sidebar -->
    <div class="sidebar">

      <!-- widget contact info -->
      <div class="widget-container widget_contact">
        <h3 class="widget-title">Our Address:</h3>

        <address>
          <strong>Vietnam Beauty Spot Jsc.</strong><br>
          31 Hang Dieu St., Hoan Kiem Dist.,<br>
          Ha Noi, Vietnam<br>
        </address>

        <div class="contact_info">
          <h3>Contact Information:</h3>

          <div class="info_row"><span class="info_icon info_phone"></span> +1 (456) 345-1232</div>
          <div class="info_row"><span class="info_icon info_fax"></span>  +1 (456) 334-2345</div>
          <div class="info_row"><span class="info_icon info_mail"></span> <a href="#">vn.vbs@gmail.com</a></div>
          <div class="info_row"><span class="info_icon info_fb"></span> <a href="#">Facebook.com/vbs</a></div>
          <div class="info_row"><span class="info_icon info_tw"></span> <a href="#">Twitter.com/vbs</a></div>

        </div>

      </div>
      <!--/ widget contact info -->


    </div>
    <!--/ sidebar -->

  </div>
</div>
<!--/ middle -->

</div>


<!------------------- page JS -->
<!-- map -->
<script>
    $(window).load(function(){
        "use strict";
        $("#map-loc").gMap({
            markers: [{
                latitude: 21.0337179,
                longitude: 105.8474886}],
            zoom: 15,
            html: '31 Hang Dieu street, Hoan Kiem district, Ha Noi, Viet Nam',
            title: "VBS",
            popup: false,
            scrollwheel: false
        });
    });
</script>

</body>
</html>
