<div class="block-item">
  <div class="block-image"><%= image_tag gallery_item.image %></div>
  <div class="block-aside">
    <h2><%= gallery_item.title %></h2>
    <p><%= gallery_item.short_desc %>  </p>
  </div>
  <div class="block-meta">
    <a href="images/temp/gallery2_big_1.jpg" data-rel="prettyPhoto[gal1]" title="Early winter morning">VIEW IMAGE GALLERY</a>
                        <span class="hidden">
                            <a href="images/temp/gallery2_big_2.jpg" data-rel="prettyPhoto[gal1]" title="A walk"></a>
                            <a href="images/temp/gallery2_big_3.jpg" data-rel="prettyPhoto[gal1]" title="Hoan Kiem Lake"></a>
                            <a href="images/temp/gallery2_big_4.jpg" data-rel="prettyPhoto[gal1]" title="Hoa sua thoi roi..."></a>
                        </span>
  </div>
</div>