<div class="footer">
  <div class="container clearfix">
    <div class="col-md-4 f_col f_col_1">
      <div class="widget-container widget_contact">
        <h3 class="widget-title">Location:</h3>

        <address>
          31 Hang Dieu St., Hoan Kiem Dist., Ha Noi, Viet Nam - <%= link_to 'More', contact_path %><br><br>

          Tel.  +1 (456) 345-1232 <br>
          Fax. +1 (456) 334-2345
        </address>

      </div>
    </div>
    <div class="col-md-2 f_col f_col_2">

      <!-- widget_pages -->

      <!--/ widget_pages -->

    </div>

    <div class="col-md-2 f_col f_col_3">
    </div>

    <div class="col-md-4 f_col f_col_4">

      <div class="widget-container widget_pages">
        <h3 class="widget-title">Partners</h3>
        <ul>
          <li><a href="http://vietnamairlines.biz.vn/"><span>Vietnam Airline</span></a></li>
          <li><a href="http://vietjetair.net.vn/"><span>Vietjet Air</span></a></li>
          <li><a href="http://www.tripadvisor.com.vn/"><span>Tripadvisor Vietnam</span></a></li>
          <li><a href="http://www.vietravel.com.vn/"><span>Vietravel</span></a></li>
        </ul>
      </div>


      <div class="footer_social">
        <a href="#" class="icon-facebook"><span>Facebook</span></a>
        <a href="#" class="icon-google-plus"><span>Google Plus</span></a>
        <a href="#" class="icon-twitter"><span>Twitter</span></a>
        <a href="#" class="icon-pinterest"><span>Pinterest</span></a>
      </div>

    </div>

  </div>
</div>