<div class="header">
  <div class="container clearfix">

    <div class="topmenu_right">
      

      <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>

      <!--<ul>
          <li><a href="special-offers.html">SPECIAL OFFERS</a></li>
          <li><a href="reservations.html">RESERVATIONS</a></li>
      </ul>-->
    </div>

    <!--- topmenu -->
    <nav class="topmenu">
      <ul class="dropdown">
        <li class="current-menu-item"><a href="index.html"><span>Home</span></a>
          <!--<ul class="submenu-1">
              <li class="current-menu-item"><a href="index.html"><span>Home Slider 1</span></a></li>
              <li><a href="index2.html"><span>Home Slider 2</span></a></li>
              <li><a href="index3.html"><span>Home Slider 3</span></a></li>
          </ul>-->
        </li>
        <li><a href="news.html"><span>Stories</span></a></li>
        <li><span>Areas</span>
          <ul class="submenu-1">
            <li><a href="north.html"><span>Northern Vietnam</span></a></li>
            <li><a href="center.html"><span>Central Vietnam</span></a></li>
            <li><a href="south.html"><span>Southern Vietnam</span></a></li>
          </ul>
        </li>
        <li><a href="gallery.html"><span>Galleries</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
      </ul>
    </nav>
    <!--/ topmenu -->
  </div>
</div>
